// Grayscale colors
$white: #fff;
$black: #000;
$gray: #d9d9d9;
$light-gray: #E7E5DF;

// Color Wheel
$red: #FB3640;
$red-orange: #D64933;
$orange: #F26419;
$orange-yellow: #E6AF2E;
$yellow: #FFBA08;
$yellow-green: #8CD867;
$green: #2FBF71;
$green-blue: #1B998B;
$blue: #1686f8;
$violet-blue: #88498F;
$violet: #3D1D68;
$violet-red: #B33951;

// Defined Color Variables

// $white: #fff;
// $black: #2D3142;
// $red: #ee3c86;
// $purple: #2e1244;
// $blue: #0089f3;
// $lblue: #a1cdf4;
// $base: #615b6b;
// $gray: #d3d3d3;
// $ltgray:#FBFCFC;
// $green: #6ED32D;
// $faint: #f6f6fd;
// $cool: #f4f4f4;
// $ltbeige: #fffae7;
// $bg: #333745;
// $gold: #ffd700;